<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= event.start_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= event.ends_at %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= event.capacity %>
  </p>

</div>
