<article style="max-width: 500px;">
  <img src="https://picsum.photos/500" alt="Card Image" height="500" width="500">

  <h2 style="margin-top: 10px"><%= event.name %></h2>
  <p>
    <strong>Start at:</strong>
    <%= event.start_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= event.ends_at %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= event.capacity %>
  </p>
  <footer>
    <p>
      <%= link_to "Show this event", event %>&nbsp;&nbsp;
      <%= link_to "Book", new_event_event_booking_path(event), role: "button" %>
      <!--<a href="#" role="button">Book Ticket</a>-->
    </p>
  </footer>
</article>
<br>
